*{
    padding: 0%;
    margin: 0%;
    background: linear-gradient(to right, #77a4d1 #e7a8a8);
}



.main{
    margin: 30px;
    width: 300px;
    border-radius: 20px;
    background-color: lightgrey;
    height: 500px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: inline-block;
    position: relative;
    
}

.div1>img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.main .last-line{
    width: 100%;
}
button{
    padding: 10px;
    width: 90px;
    margin: 10px 100px;
    border-radius: 20px;
    border: transparent;
    position: absolute;
    bottom: 10px;
}

h1{
    margin: 10px;
}
p{
    margin: 10px;
    text-align: justify;
}

ul{
    margin: 10px;
    list-style-type: circle;
}

li{
    margin: 20px;
}


.name{
    background-image: url("https://png.pngtree.com/png-vector/20200425/ourmid/pngtree-single-person-character-in-vector-png-image_2194492.jpg");
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 25px;
}

.email{
    background-image: url("https://media.istockphoto.com/id/826567080/vector/e-mail-icon-simple-vector-illustration-red-color.jpg?s=612x612&w=0&k=20&c=ysxmzarWz_6a2oyi1ue9p6OUBXAw8W1LQPsyorc_5hY=");
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 25px;
}
